@charset "utf-8";
*{margin: 0; padding: 0; list-style: none; text-decoration: none; font-family: "나눔고딕";}

.logo {
    width: 100%;
    height: 120px;
    background-color: rgba(220, 220, 81, 0.71);
}

.signup {
    text-align: center;
    margin-top: 10%;
}

.input {
    margin: 10px;
}

.signupbutton {
    text-align: center;
    margin-top: 30px;
}

.button {
    background-color:#5fd9b0;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}